In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

visa_df=pd.read_csv("Visadataset.csv")
visa_df.head()

cat_columns=visa_df.select_dtypes(include='object').columns
num_columns=visa_df.select_dtypes(exclude='object').columns

# zscore

**z=x-u/sigma**

In [5]:
# step-1: read prevailing wage
# step-2: calculate mean of pwage
# step-3: calculate std of pwage
# step-4: Nr: step-1 - step-2
# step-5: step4/step3

wage_data=visa_df['prevailing_wage']
wage_mean=visa_df['prevailing_wage'].mean()
wage_std=visa_df['prevailing_wage'].std()
nr=wage_data-wage_mean
z_scaled_wage_data=nr/wage_std
z_scaled_wage_data

0       -1.398510
1        0.169832
2        0.919060
3        0.169991
4        1.428576
           ...
25475    0.049923
25476    3.876083
25477    1.360253
25478    0.221504
25479   -0.067762
Name: prevailing_wage, Length: 25480, dtype: float64

In [35]:
wage_data=visa_df['prevailing_wage']
wage_mean=visa_df['prevailing_wage'].mean()
wage_std=visa_df['prevailing_wage'].std()
nr=wage_data-wage_mean
z_scaled_wage_data=nr/wage_std
z_scaled_wage_data
visa_df['z_scaled_wage_data']=z_scaled_wage_data

In [36]:
visa_df[['prevailing_wage','z_scaled_wage_data']]

       prevailing_wage  z_scaled_wage_data
0             592.2029           -1.398510
1           83425.6500            0.169832
2          122996.8600            0.919060
3           83434.0300            0.169991
4          149907.3900            1.428576
...                ...                 ...
25475       77092.5700            0.049923
25476      279174.7900            3.876083
25477      146298.8500            1.360253
25478       86154.7700            0.221504
25479       70876.9100           -0.067762

[25480 rows x 2 columns]

**x scaled = (x-xmin)/(xmax-xmin)**

In [11]:
wage_data=visa_df['prevailing_wage']
wage_min=visa_df['prevailing_wage'].min()
wage_max=visa_df['prevailing_wage'].max()
nr=wage_data-wage_min
dr=wage_max-wage_min
x_scaled_wage_data=nr/dr
x_scaled_wage_data
visa_df['x_scaled_wage_data']=x_scaled_wage_data

In [12]:
visa_df[['prevailing_wage','x_scaled_wage_data']]

       prevailing_wage  x_scaled_wage_data
0             592.2029            0.001849
1           83425.6500            0.261345
2          122996.8600            0.385312
3           83434.0300            0.261371
4          149907.3900            0.469616
...                ...                 ...
25475       77092.5700            0.241505
25476      279174.7900            0.874579
25477      146298.8500            0.458311
25478       86154.7700            0.269895
25479       70876.9100            0.222033

[25480 rows x 2 columns]

**task**

- Compare the values

- We scale the data using z score

- The minimum value of index exactly match with minimum value index with scaled data

- The maximum value of index exactly match with maximum value index with scaled data 

- **idxmax** and **idxmin**

In [37]:
# Prevailing wage minimum id and
# Prevailing wage maximum id
max_id_wage=visa_df[['prevailing_wage']].idxmax().values[0]
min_id_wage=visa_df[['prevailing_wage']].idxmin().values[0]
print('The maximum value id is:',max_id_wage)
print('The minimum value id is:',min_id_wage)

The maximum value id is: 21077
The minimum value id is: 20575

In [38]:
visa_df[['prevailing_wage']].max()

prevailing_wage    319210.27
dtype: float64

In [39]:
visa_df[['prevailing_wage']].min()

prevailing_wage    2.1367
dtype: float64

In [40]:
visa_df[['prevailing_wage']].loc[[max_id_wage,min_id_wage]]

       prevailing_wage
21077      319210.2700
20575           2.1367

In [41]:
max_id_wage=visa_df[['z_scaled_wage_data']].idxmax().values[0]
min_id_wage=visa_df[['z_scaled_wage_data']].idxmin().values[0]
print('The maximum value id is:',max_id_wage)
print('The minimum value id is:',min_id_wage)
visa_df[['z_scaled_wage_data']].loc[[max_id_wage,min_id_wage]]

The maximum value id is: 21077
The minimum value id is: 20575

       z_scaled_wage_data
21077            4.634102
20575           -1.409682

**StandardScaler**

- StandardScalar is a method to scale the data using z-score

- It is under sklearn package

- Under sklearn, we have a class: preprocessing

- Under preprocessing, we have a method: **StandardScaler**

- Read the package

- Save the package

- apply fit transform

In [32]:
visa_df=pd.read_csv("Visadataset.csv")

In [46]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['ss_wage_data']=ss.fit_transform(visa_df[['prevailing_wage']])
visa_df['ss_wage_data']

0       -1.398537
1        0.169835
2        0.919079
3        0.169994
4        1.428604
           ...
25475    0.049924
25476    3.876159
25477    1.360280
25478    0.221509
25479   -0.067763
Name: ss_wage_data, Length: 25480, dtype: float64

**task**

- Compare three columns

  - One is original column: **prevailing_wage**

  - Second column is developed by logic: **z_scaled_wage_data**

  - Third column is developed by package: **ss_wage_data**

In [47]:
visa_df[['prevailing_wage','z_scaled_wage_data','ss_wage_data']]

       prevailing_wage  z_scaled_wage_data  ss_wage_data
0             592.2029           -1.398510     -1.398537
1           83425.6500            0.169832      0.169835
2          122996.8600            0.919060      0.919079
3           83434.0300            0.169991      0.169994
4          149907.3900            1.428576      1.428604
...                ...                 ...           ...
25475       77092.5700            0.049923      0.049924
25476      279174.7900            3.876083      3.876159
25477      146298.8500            1.360253      1.360280
25478       86154.7700            0.221504      0.221509
25479       70876.9100           -0.067762     -0.067763

[25480 rows x 3 columns]

In [ ]:
# read the data
# develop a normalization data using logic
# step-1: read the pwage data
# step-2: min value
# step-3: max value
# step-4: nr: step-1 - step-2
# step-5: dr: step-3 - step-2
# step-6: step-4/step-5

**MinMaxScalar**

In [45]:
wage_data=visa_df['prevailing_wage']
wage_min=visa_df['prevailing_wage'].min()
wage_max=visa_df['prevailing_wage'].max()
nr=wage_data-wage_min
dr=wage_max-wage_min
x_scaled_wage_data=nr/dr
x_scaled_wage_data
visa_df['x_scaled_wage_data']=x_scaled_wage_data

In [51]:
visa_df[['prevailing_wage','x_scaled_wage_data','ss_wage_data']]

       prevailing_wage  x_scaled_wage_data  ss_wage_data
0             592.2029            0.001849     -1.398537
1           83425.6500            0.261345      0.169835
2          122996.8600            0.385312      0.919079
3           83434.0300            0.261371      0.169994
4          149907.3900            0.469616      1.428604
...                ...                 ...           ...
25475       77092.5700            0.241505      0.049924
25476      279174.7900            0.874579      3.876159
25477      146298.8500            0.458311      1.360280
25478       86154.7700            0.269895      0.221509
25479       70876.9100            0.222033     -0.067763

[25480 rows x 3 columns]

In [49]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
visa_df['mm_wage_data']=mm.fit_transform(visa_df[['prevailing_wage']])
visa_df['mm_wage_data']

0        0.001849
1        0.261345
2        0.385312
3        0.261371
4        0.469616
           ...
25475    0.241505
25476    0.874579
25477    0.458311
25478    0.269895
25479    0.222033
Name: mm_wage_data, Length: 25480, dtype: float64

In [50]:
visa_df[['prevailing_wage','x_scaled_wage_data','mm_wage_data']]

       prevailing_wage  x_scaled_wage_data  mm_wage_data
0             592.2029            0.001849      0.001849
1           83425.6500            0.261345      0.261345
2          122996.8600            0.385312      0.385312
3           83434.0300            0.261371      0.261371
4          149907.3900            0.469616      0.469616
...                ...                 ...           ...
25475       77092.5700            0.241505      0.241505
25476      279174.7900            0.874579      0.874579
25477      146298.8500            0.458311      0.458311
25478       86154.7700            0.269895      0.269895
25479       70876.9100            0.222033      0.222033

[25480 rows x 3 columns]

In [53]:
# Method-1:
ss.fit_transform(visa_df[['prevailing_wage']])

array([[-1.39853722],
       [ 0.1698353 ],
       [ 0.91907852],
       ...,
       [ 1.36027953],
       [ 0.22150859],
       [-0.06776315]])

In [54]:
# Method-2:
d=visa_df['prevailing_wage'].values.reshape(-1,1)
ss.fit_transform(d)

array([[-1.39853722],
       [ 0.1698353 ],
       [ 0.91907852],
       ...,
       [ 1.36027953],
       [ 0.22150859],
       [-0.06776315]])

In [ ]:
# Method-1:
ss.fit_transform(visa_df[['prevailing_wage']])

# Method-2:
d=visa_df['prevailing_wage'].values.reshape(-1,1)
ss.fit_transform(d)